<div class="row">
    {% for actress in actress_list %}
        <div id="actress-{{ actress.id }}" class="col ">
            <a href="{% url 'my_av:filter' actress_slug_ids=actress.a_slug genre_slug_ids=actress.g_slug %}">
                <div id="actress-{{ actress.id }}-pic">
                    {% load static %}
                    {% static 'my_av/No_image_available.svg' as no_image %}
                    <img src="{{ actress.art_url|default:no_image }}" class="rounded-circle" alt="no image"
                         style="width: 125px;height: 125px">
                </div>
                <div id="actress-{{ actress.id }}-name">
                    {{ actress.name }}
                </div>
            </a>
        </div>
    {% endfor %}
</div>