<h4 class="w3-light-gray w3-container">Actresses:</h4>
<div id="actresses" class="w3-row-padding">
    {% for actress in actress_list %}
        <div id="actress" class="w3-col l1 m2 s3 w3-button">
            <a href="{{ prefix_url }}actress={{ actress.id }}">
                <div class="actress-{{ actress.id }}-pic">
                    <img src="{{ actress.art_url }}" class="img-circle" alt="">
                </div>
                <div class="actress-{{ actress.id }}-name">{{ actress.name }}</div>
            </a>
        </div>
    {% endfor %}
</div>