{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>AV-Pilot</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {#  Bootstrap  #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'my_av/my.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    {#  Bulma  #}
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">#}

    {#  My  #}
    <link rel="stylesheet" href={% static 'my_av/my.css' %}>
</head>
<body>

{% block navbar %}
    {% include 'my_av/navbar.html' %}
{% endblock %}
{% block body %}{% endblock %}
</body>
</html>

