{#{% load static %}#}
{#<link rel="stylesheet" type="text/css" href="{% static 'my_av/cmn.css' %}">#}
<div class="sample_video_frame">
    {#    <video controls poster="{{ fanart_url }}">#}
    {#        <source src="https://awscc3001.r18.com/litevideo/freepv/1/118/118abp249/118abp249_dmb_w.mp4" type="video/mp4">#}
    {#        Your browser does not support the video tag.#}
    {#    </video>#}
    {{ sample_url }}
</div>
<div class="fan-art">
    {#    <img src="{{ fanart_url }}" alt="fan-art">#}
    {{ fanart_url }}
</div>
<div>
    {{ title }}
</div>
<div>
    {% for g in genre %}
        <div class="genre">
            <a href="{% url 'my_av:search' %}?genre={{ g.id }}">
                {{ g.name }}
            </a>
        </div>
    {% endfor %}
</div>
<div>
    {% for a in actress %}
        <div class="actress">
            <a href="{% url 'my_av:search' %}?actress={{ a.id }}">
                {{ a.name }}
            </a>
        </div>
    {% endfor %}
</div>

{##}
{#<dl>#}
{#    <dt>sample movie</dt>#}
{#    <dt>fanart</dt>#}
{#    <dd><img src=></dd>#}
{#    <dt>title</dt>#}
{#    <dd>{{ title }}</dd>#}
{#    <dt>categories</dt>#}
{#    <dt>actress</dt>#}
{#    <dd>{{ actresses }}</dd>#}
{#    <dt>info</dt>#}
{#    <dt>thumbnail</dt>#}
{#</dl>#}

{#<div class="fanart">fanart</div>#}
{#<div class="title">title</div>#}
{#<div class="categories">#}
{#    <dl>#}
{#        <dt>categories</dt>#}
{#        <dd>a</dd>#}
{#        <dd>a</dd>#}
{#        <dd>a</dd>#}
{#        <dd>a</dd>#}
{#    </dl>#}
{#</div>#}
{#<div class="actress">#}
{#    <dl>#}
{#        <dt>actress</dt>#}
{#        <dd>a</dd>#}
{#        <dd>a</dd>#}
{#        <dd>a</dd>#}
{#    </dl>#}
{#</div>#}

{#<div class="info">#}
{#    <dl>#}
{#        <dt>Release Date:</dt>#}
{#        <dd itemprop="dateCreated">#}
{#            Mar. 16, 2019<br>#}
{#        </dd>#}
{##}
{#        <dt>Runtime:</dt>#}
{#        <dd itemprop="duration">#}
{#            177min. &nbsp;(HD:&nbsp;177min.) <br>#}
{#        </dd>#}
{#        <dt>Director:</dt>#}
{#        <dd itemprop="director">#}
{#            Kyosei <br>#}
{#        </dd>#}
{#        <dt>Studio:</dt>#}
{#        <dd itemprop="productionCompany" itemscope="" itemtype="http://schema.org/Organization">#}
{#            <a href="https://www.r18.com/videos/vod/movies/list/id=3152/pagesize=30/price=all/sort=popular/type=studio/page=1/"#}
{#               itemprop="name"> S1 NO.1 Style</a><br>#}
{#        </dd>#}
{#        <dt>Label:</dt>#}
{#        <dd>#}
{#            S1 NO.1 STYLE<br>#}
{#        </dd>#}
{#        <dt>Subtitles:</dt>#}
{#        <dd>----<br></dd>#}
{#    </dl>#}
{##}
{#    <dl>#}
{#        <dt>Channel:</dt>#}
{#        <dd>#}
{#            ----#}
{#            <br>#}
{#        </dd>#}
{#        <dt>Content ID:</dt>#}
{#        <dd>#}
{#            ssni00432 <br>#}
{#        </dd>#}
{#        <dt>DVD ID:</dt>#}
{#        <dd>#}
{#            SSNI-432 <br>#}
{#        </dd>#}
{#        <dt>Series:</dt>#}
{#        <dd>#}
{#            <a href="https://www.r18.com/videos/vod/movies/list/id=219745/pagesize=30/price=all/sort=popular/type=series/page=1/">#}
{#                I'm Terrible; Giving Into Temptatio...</a><br>#}
{#        </dd>#}
{##}
{#        <dt>Languages:</dt>#}
{#        <dd>Japanese<br></dd>#}
{##}
{#    </dl>#}
{#</div>#}