<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="canonical" href="https://www.r18.com/videos/vod/movies/detail/-/id=ssni00446/"/>
    <link rel="alternate" hreflang="zh" href="https://www.r18.com/videos/vod/movies/detail/-/id=ssni00446/?lg=zh"/>

    <title>SSNI-446 - Japanese Adult Movies - R18.com</title>
    <meta name="description"
          content="Shunka Ayami performing in THE FINAL Shunka Ayami Let Me Show You All Of The Techniques I Learned Before I Retire 5 Hour Special. (ssni00446, SSNI-446). This movie is about Big Tits, Orgy, Featured Actress, Nymphomaniac, Titty Fuck, Over 4 Hours, Minimal Mosaic, Hi-Def: VIDEO ON DEMAND: ADULT MOVIES">
    <meta property="fb:app_id" content="1448208252077291">
    <meta property="og:type" content="product">
    <meta property="og:site_name" content="R18.COM"/>
    <meta property="og:url" content="https://www.r18.com/videos/vod/movies/detail/-/id=ssni00446/">
    <meta property="og:title"
          content="THE FINAL Shunka Ayami Let Me Show You All Of The Techniques I Learned Before I Retire 5 Hour Special">
    <meta property="og:image" content="https://pics.r18.com/digital/video/ssni00446/ssni00446ps.jpg">
    <meta property="og:description"
          content="Shunka Ayami performing in THE FINAL Shunka Ayami Let Me Show You All Of The Techniques I Learned Before I Retire 5 Hour Special. (ssni00446, SSNI-446). This movie is about Big Tits, Orgy, Featured Actress, Nymphomaniac, Titty Fuck, Over 4 Hours, Minimal Mosaic, Hi-Def: VIDEO ON DEMAND: ADULT MOVIES">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300,600,800" rel="stylesheet">

    <!--[if lt IE 9]>
<link href="//fonts.googleapis.com/css?family=Open+Sans:400italic" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:700italic" rel="stylesheet">
<![endif]-->

    <!--[if lt IE 9]><script src="https://www.r18.com/assets/js/html5_ie.js"></script><![endif]-->
    <script type="text/javascript" src="https://www.r18.com/assets/js/vendor/react/polyfill.min.js?1503475154"></script>
    <script type="text/javascript"
            src="https://www.r18.com/assets/js/vendor/react/react-16.4.1.min.js?1529652386"></script>
    <script type="text/javascript"
            src="https://www.r18.com/assets/js/vendor/react/react-dom-16.4.1.min.js?1529652386"></script>

    <link media="all" type="text/css" rel="stylesheet" href="https://www.r18.com/assets/css/cmn.css?1555314217"/>
    <link media="all" type="text/css" rel="stylesheet" href="https://www.r18.com/assets/css/my.css?1555314217"/>


    <!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="https://www.r18.com/assets/css/ie8.css" media="all">
<![endif]-->


    <script>
        (function (w, d, undefined) {
            var script = d.createElement("script");
            script.setAttribute("data-main", "https://www.r18.com/assets/js/r18.js?ver=1555314217");
            script.src = "https://www.r18.com/assets/js/require.js";
            script.async = true;
            d.getElementsByTagName("head")[0].appendChild(script);
        }(window, window.document));
    </script>

    <!-- Google Tag Manager -->
    <style>.async-hide {
        opacity: 0 !important
    } </style>
    <script>(function (a, s, y, n, c, h, i, d, e) {
        s.className += ' ' + y;
        h.start = 1 * new Date;
        h.end = i = function () {
            s.className = s.className.replace(RegExp(' ?' + y), '')
        };
        (a[n] = a[n] || []).hide = h;
        setTimeout(function () {
            i();
            h.end = null
        }, c);
        h.timeout = c;
    })(window, document.documentElement, 'async-hide', 'dataLayer', 4000,
        {'GTM-W8ZKXQR': true});</script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-45003293-1', 'auto');
        ga('require', 'GTM-W8ZKXQR');
    </script>
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-P98FXK"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push(
            {'gtm.start': new Date().getTime(), event: 'gtm.js'}
        );
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-P98FXK');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
<div id="ajaxurl-recommend-related" data-src="https://www.r18.com/api/v1/recommend/related/"></div>
<div id="ajaxurl-recommend-popular" data-src="https://www.r18.com/api/v1/recommend/popular/"></div>
<div id="ajaxurl-recommend-user" data-src="https://www.r18.com/api/v1/recommend/user/"></div>
<div id="csrf"
     data-csrf="KlVT6gFTIhK5zmLtXPxS5jtMrgmXccKCd38drSMKmipVBxr4KllfH9x5K3Z7kTs7iCAg2HolCmdnCsusp44p8m0HOox/QIJvsz64r4SsO3Z+5AOopVemsfRzGHfe5y/wDuIVU9xFhr6VYgXJCep0QKr71492n6LhjsufBc089yaybZNq"></div>

<input id="i3_opnd" type="hidden" value=""/>
<input id="i3_vwtp" type="hidden" value="pc"/>
<script>
    !function (a, b, c, d, e, f, g, h, i, j, k) {
        g = "DMMi3Object", h = a[g], a[g] = e, h && (a[e] = a[h]),
            a[e] = a[e] || function () {
                i = arguments[arguments.length - 1], "function" == typeof i && setTimeout(
                    function (b, c) {
                        return function () {
                            a[e].q.length > b && c()
                        }
                    }(a[e].q.length, i), f), a[e].q.push(
                    arguments)
            }, a[e].q = a[e].q || [], a[e].t = f, j = b.createElement(c), k = b.getElementsByTagName(c)[0],
            j.async = 1, j.src = d, j.charset = "utf-8", k.parentNode.insertBefore(j, k), a[e].s = ~~new Date
    }(window, document, "script", "//stat.i3.dmm.com/latest/js/dmm.tracking.min.js", "i3", 2000);
    i3('init', 'i3_bws8kf');
    i3('create');
    i3('send', 'view', 'page');
    i3('create', 'detail');
    i3('detail.set', 'detail', {"content_id": "ssni00446"});
    i3('detail.add', 'detail', {"product_id": "ssni00446dl6", "price": 2297, "has_stock": true});
    i3('detail.add', 'detail', {"product_id": "ssni00446dl", "price": 1834, "has_stock": true});
    i3('detail.send', 'show', 'detail');
</script>
<div id="fb-root"></div>
<div id="wrapper">
    <div id="contents">
        <div class="main" itemscope itemtype="http://schema.org/Movie">
            <div class="product-details-page" data-content-id="ssni00446">
                <div class="cmn-ttl-item03 clearfix">
                    <div class="col01">
                        <h1>
                            <cite itemprop="name">THE FINAL Shunka Ayami Let Me Show You All Of The Techniques I Learned
                                Before I Retire 5 Hour Special</cite>
                        </h1>
                    </div>

                </div>
                <section class="product-area"><!-- this retains all of the overlay sections in the product area -->
                    <section class="product-onload"><!-- main block of product page at load time - don't need? -->
                        <section class="clearfix">
                            <div class="product-image">
                                <div class=" js-detail-single-picture">
                                    <img itemprop="image"
                                         src="https://pics.r18.com/digital/video/ssni00446/ssni00446ps.jpg" width="147"
                                         alt="SSNI-446 - Shunka Ayami - thumbnail">
                                </div>
                                <div class="cmn-btn-imgHover01 product-sample js-detail-video-player">


                                    <p>
                                        <a class="js-view-sample"
                                           data-id="ssni00446"
                                           data-video-low="https://awscc3001.r18.com/litevideo/freepv/s/ssn/ssni00446/ssni00446_sm_w.mp4"
                                           data-video-med="https://awscc3001.r18.com/litevideo/freepv/s/ssn/ssni00446/ssni00446_dm_w.mp4"
                                           data-video-high="https://awscc3001.r18.com/litevideo/freepv/s/ssn/ssni00446/ssni00446_dmb_w.mp4"
                                           data-product-page-url=""
                                           data-title=""
                                           data-description=""
                                           data-detail="1"
                                        >Play Sample </a>
                                    </p>
                                </div>
                            </div>
                            <div class="product-details">
                                <dl>
                                    <dt>Release Date:</dt>
                                    <dd itemprop="dateCreated">
                                        Apr. 04, 2019<br>
                                    </dd>

                                    <dt>Runtime:</dt>
                                    <dd itemprop="duration">
                                        321min. &nbsp;(HD:&nbsp;321min.) <br>
                                    </dd>
                                    <dt>Director:</dt>
                                    <dd itemprop="director">
                                        Zaku Arai <br>
                                    </dd>
                                    <dt>Studio:</dt>
                                    <dd itemprop="productionCompany" itemscope
                                        itemtype="http://schema.org/Organization">
                                        <a href="https://www.r18.com/videos/vod/movies/list/id=3152/pagesize=30/price=all/sort=popular/type=studio/page=1/"
                                           itemprop="name"> S1 NO.1 Style</a><br>
                                    </dd>
                                    <dt>Label:</dt>
                                    <dd>
                                        S1 NO.1 STYLE<br>
                                    </dd>
                                    <dt>Subtitles:</dt>
                                    <dd>----<br></dd>
                                </dl>

                                <dl>
                                    <dt>Channel:</dt>
                                    <dd>
                                        ----
                                        <br>
                                    </dd>
                                    <dt>Content ID:</dt>
                                    <dd>
                                        ssni00446 <br>
                                    </dd>
                                    <dt>DVD ID:</dt>
                                    <dd>
                                        SSNI-446 <br>
                                    </dd>
                                    <dt>Series:</dt>
                                    <dd>
                                        ----<br>
                                    </dd>

                                    <dt>Languages:</dt>
                                    <dd>Japanese<br></dd>

                                </dl>
                                <div class="product-box">
                                    <div class="product-actress-list product-box-list">
                                        <label>Actress(es):</label>
                                        <div itemprop="actors" data-type="actress-list" class="pop-list">
														<span itemscope itemtype="http://schema.org/Person">
																	<a itemprop="url"
                                                                       href="https://www.r18.com/videos/vod/movies/list/id=1016835/pagesize=30/price=all/sort=popular/type=actress/page=1/">
										<span itemprop="name">Shunka Ayami</span>
									</a>
															</span>
                                        </div>
                                    </div>
                                    <div class="product-categories-list product-box-list">
                                        <label>Categories:</label>
                                        <div class="pop-list">
                                            <a href="https://www.r18.com/videos/vod/movies/list/id=2001/pagesize=30/price=all/sort=popular/type=category/page=1/"
                                               itemprop="genre"> Big Tits</a> <a
                                                href="https://www.r18.com/videos/vod/movies/list/id=4005/pagesize=30/price=all/sort=popular/type=category/page=1/"
                                                itemprop="genre"> Orgy</a> <a
                                                href="https://www.r18.com/videos/vod/movies/list/id=4025/pagesize=30/price=all/sort=popular/type=category/page=1/"
                                                itemprop="genre"> Featured Actress</a> <a
                                                href="https://www.r18.com/videos/vod/movies/list/id=4030/pagesize=30/price=all/sort=popular/type=category/page=1/"
                                                itemprop="genre"> Nymphomaniac</a> <a
                                                href="https://www.r18.com/videos/vod/movies/list/id=5019/pagesize=30/price=all/sort=popular/type=category/page=1/"
                                                itemprop="genre"> Titty Fuck</a> <a
                                                href="https://www.r18.com/videos/vod/movies/list/id=6012/pagesize=30/price=all/sort=popular/type=category/page=1/"
                                                itemprop="genre"> Over 4 Hours</a> <a
                                                href="https://www.r18.com/videos/vod/movies/list/id=6017/pagesize=30/price=all/sort=popular/type=category/page=1/"
                                                itemprop="genre"> Minimal Mosaic</a> <a
                                                href="https://www.r18.com/videos/vod/movies/list/id=6533/pagesize=30/price=all/sort=popular/type=category/page=1/"
                                                itemprop="genre"> Hi-Def</a></div>

                                    </div>
                                </div>

                            </div>
                        </section>
                        <!-- should this be one section? -->
                        <section id="product-gallery">
                            <!-- gallery view -->
                            <div class="box01 detail-view detail-carousel-view">
                                <p class="close01"></p>
                                <div class="img02">
                                    <div class="js-carousel js-carousel-1">
                                        <p class="cmn-btn-sliderPrev01 shadow js-prev"><a></a></p>
                                        <p class="cmn-btn-sliderNext01 shadow js-next"><a></a></p>
                                        <ul class="js-owl-carousel clearfix">
                                            <li><p><img class="lazyOwl" alt="SSNI-446 - Shunka Ayami - screenshot 1"
                                                        data-src="https://pics.r18.com/digital/video/ssni00446/ssni00446jp-1.jpg">
                                            </p></li>
                                            <li><p><img class="lazyOwl" alt="SSNI-446 - Shunka Ayami - screenshot 2"
                                                        data-src="https://pics.r18.com/digital/video/ssni00446/ssni00446jp-2.jpg">
                                            </p></li>
                                            <li><p><img class="lazyOwl" alt="SSNI-446 - Shunka Ayami - screenshot 3"
                                                        data-src="https://pics.r18.com/digital/video/ssni00446/ssni00446jp-3.jpg">
                                            </p></li>
                                            <li><p><img class="lazyOwl" alt="SSNI-446 - Shunka Ayami - screenshot 4"
                                                        data-src="https://pics.r18.com/digital/video/ssni00446/ssni00446jp-4.jpg">
                                            </p></li>
                                            <li><p><img class="lazyOwl" alt="SSNI-446 - Shunka Ayami - screenshot 5"
                                                        data-src="https://pics.r18.com/digital/video/ssni00446/ssni00446jp-5.jpg">
                                            </p></li>
                                            <li><p><img class="lazyOwl" alt="SSNI-446 - Shunka Ayami - screenshot 6"
                                                        data-src="https://pics.r18.com/digital/video/ssni00446/ssni00446jp-6.jpg">
                                            </p></li>
                                            <li><p><img class="lazyOwl" alt="SSNI-446 - Shunka Ayami - screenshot 7"
                                                        data-src="https://pics.r18.com/digital/video/ssni00446/ssni00446jp-7.jpg">
                                            </p></li>
                                            <li><p><img class="lazyOwl" alt="SSNI-446 - Shunka Ayami - screenshot 8"
                                                        data-src="https://pics.r18.com/digital/video/ssni00446/ssni00446jp-8.jpg">
                                            </p></li>
                                            <li><p><img class="lazyOwl" alt="SSNI-446 - Shunka Ayami - screenshot 9"
                                                        data-src="https://pics.r18.com/digital/video/ssni00446/ssni00446jp-9.jpg">
                                            </p></li>
                                            <li><p><img class="lazyOwl" alt="SSNI-446 - Shunka Ayami - screenshot 10"
                                                        data-src="https://pics.r18.com/digital/video/ssni00446/ssni00446jp-10.jpg">
                                            </p></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="box01 mb10 detail-view detail-pc-format">
                                <p class="close01"><a><img src="https://www.r18.com/assets/img/common/btn-close-01.png"
                                                           width="29"
                                                           height="29" alt="close"></a></p>
                                <div class="js-selected-format-info">
                                    <div class="detail-pc-formatIn01 label_ssni00446dl6">

                                        <div class="table-detail-format01">


                                            <div class="txt01 detail-faq-links">
                                                <div class="title01 format-info">
                                                    <span class="ico-sp ico-info flImgL"></span>
                                                    <p class="txt01">More Information</p>
                                                </div>
                                                <ul>
                                                    <li>
                                                        <a href="https://www.r18.com/info/tools/" target="_blank">
                                                            <span></span>Download R Player </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.r18.com/info/faq/#playlimit"
                                                           target="_blank">
                                                            <span></span>About Play Limit </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.r18.com/info/faq/#systemrequirements"
                                                           target="_blank">
                                                            <span></span>System Requirements </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.r18.com/info/faq/#sample" target="_blank">
                                                            <span></span>Playback Test </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.r18.com/info/faq/#movies" target="_blank">
                                                            <span></span>Movies FAQ </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="detail-pc-formatIn01 label_ssni00446dl">

                                        <div class="table-detail-format01">


                                            <div class="txt01 detail-faq-links">
                                                <div class="title01 format-info">
                                                    <span class="ico-sp ico-info flImgL"></span>
                                                    <p class="txt01">More Information</p>
                                                </div>
                                                <ul>
                                                    <li>
                                                        <a href="https://www.r18.com/info/tools/" target="_blank">
                                                            <span></span>Download R Player </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.r18.com/info/faq/#playlimit"
                                                           target="_blank">
                                                            <span></span>About Play Limit </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.r18.com/info/faq/#systemrequirements"
                                                           target="_blank">
                                                            <span></span>System Requirements </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.r18.com/info/faq/#sample" target="_blank">
                                                            <span></span>Playback Test </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.r18.com/info/faq/#movies" target="_blank">
                                                            <span></span>Movies FAQ </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="detail-pc-formatIn01 label_ssni00446">

                                        <div class="table-detail-format01">


                                            <div class="txt01 detail-faq-links">
                                                <div class="title01 format-info">
                                                    <span class="ico-sp ico-info flImgL"></span>
                                                    <p class="txt01">More Information</p>
                                                </div>
                                                <ul>
                                                    <li>
                                                        <a href="https://www.r18.com/info/tools/" target="_blank">
                                                            <span></span>Download R Player </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.r18.com/info/faq/#playlimit"
                                                           target="_blank">
                                                            <span></span>About Play Limit </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.r18.com/info/faq/#systemrequirements"
                                                           target="_blank">
                                                            <span></span>System Requirements </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.r18.com/info/faq/#sample" target="_blank">
                                                            <span></span>Playback Test </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.r18.com/info/faq/#movies" target="_blank">
                                                            <span></span>Movies FAQ </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section>
                            <!-- package single image view? -->
                            <div class="box01 mb10 detail-view detail-single-picture">
                                <p class="close01"></p>
                                <img alt="SSNI-446 - Shunka Ayami - cover"
                                     src="https://pics.r18.com/digital/video/ssni00446/ssni00446pl.jpg"></div>
                        </section>

                        <section>
                            <ul class="product-gallery preview-grid">
                                <li>
                                    <a><img class="lazy" src="https://www.r18.com/assets/img/common/img-120x92.gif"
                                            alt="SSNI-446 - Shunka Ayami - thumbnail 1" data-thumb="1"
                                            data-original="https://pics.r18.com/digital/video/ssni00446/ssni00446-1.jpg"></a>
                                </li>
                                <li>
                                    <a><img class="lazy" src="https://www.r18.com/assets/img/common/img-120x92.gif"
                                            alt="SSNI-446 - Shunka Ayami - thumbnail 2" data-thumb="2"
                                            data-original="https://pics.r18.com/digital/video/ssni00446/ssni00446-2.jpg"></a>
                                </li>
                                <li>
                                    <a><img class="lazy" src="https://www.r18.com/assets/img/common/img-120x92.gif"
                                            alt="SSNI-446 - Shunka Ayami - thumbnail 3" data-thumb="3"
                                            data-original="https://pics.r18.com/digital/video/ssni00446/ssni00446-3.jpg"></a>
                                </li>
                                <li>
                                    <a><img class="lazy" src="https://www.r18.com/assets/img/common/img-120x92.gif"
                                            alt="SSNI-446 - Shunka Ayami - thumbnail 4" data-thumb="4"
                                            data-original="https://pics.r18.com/digital/video/ssni00446/ssni00446-4.jpg"></a>
                                </li>
                                <li>
                                    <a><img class="lazy" src="https://www.r18.com/assets/img/common/img-120x92.gif"
                                            alt="SSNI-446 - Shunka Ayami - thumbnail 5" data-thumb="5"
                                            data-original="https://pics.r18.com/digital/video/ssni00446/ssni00446-5.jpg"></a>
                                </li>
                                <li>
                                    <a><img class="lazy" src="https://www.r18.com/assets/img/common/img-120x92.gif"
                                            alt="SSNI-446 - Shunka Ayami - thumbnail 6" data-thumb="6"
                                            data-original="https://pics.r18.com/digital/video/ssni00446/ssni00446-6.jpg"></a>
                                </li>
                                <li>
                                    <a><img class="lazy" src="https://www.r18.com/assets/img/common/img-120x92.gif"
                                            alt="SSNI-446 - Shunka Ayami - thumbnail 7" data-thumb="7"
                                            data-original="https://pics.r18.com/digital/video/ssni00446/ssni00446-7.jpg"></a>
                                </li>
                                <li>
                                    <a><img class="lazy" src="https://www.r18.com/assets/img/common/img-120x92.gif"
                                            alt="SSNI-446 - Shunka Ayami - thumbnail 8" data-thumb="8"
                                            data-original="https://pics.r18.com/digital/video/ssni00446/ssni00446-8.jpg"></a>
                                </li>
                                <li>
                                    <a><img class="lazy" src="https://www.r18.com/assets/img/common/img-120x92.gif"
                                            alt="SSNI-446 - Shunka Ayami - thumbnail 9" data-thumb="9"
                                            data-original="https://pics.r18.com/digital/video/ssni00446/ssni00446-9.jpg"></a>
                                </li>
                                <li>
                                    <a><img class="lazy" src="https://www.r18.com/assets/img/common/img-120x92.gif"
                                            alt="SSNI-446 - Shunka Ayami - thumbnail 10" data-thumb="10"
                                            data-original="https://pics.r18.com/digital/video/ssni00446/ssni00446-10.jpg"></a>
                                </li>
                            </ul>
                        </section>

                    </section>

            </div>
        </div>
    </div>
</div>
</body>
</html>