{% extends 'my_av/base.html' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 border-right">
                {% include 'my_av/base-movies.html' %}
            </div>
            <div id="actresses" class="col-3 border-right">
                {% include 'my_av/actresses.html' %}
            </div>
            <div id="genres" class="col-3 border-right">
                {% include 'my_av/filter-genres.html' %}
            </div>
        </div>
    </div>
{% endblock %}

