<div class="row">
    {% for actress in actress_list %}
        <div id="actress" class="col container-fluid">
            {% with actress.id|stringformat:"i" as id_string %}
                <a href="{% url 'my_av:filter' actress_slug_ids=actress_prefix_url|add:id_string genre_slug_ids='-' %}">
                    <div id="actress-{{ actress.id }}-pic">
                        {% load static %}
                        {% static 'my_av/No_image_available.svg' as test %}
                        <img src="{{ actress.art_url|default:test }}" class="actress-img" alt="no image">
                    </div>
                    <div id="actress-{{ actress.id }}-name">
                        {{ actress.name }}
                    </div>
                </a>
            {% endwith %}
        </div>
    {% endfor %}
</div>