<div class="filter">
    <div>
        {% for actress in actress_list %}
            <div class="actress">
                <a href="{{ my_test }}actress={{ actress.id }}">
                    {{ actress.name }}
                </a>
            </div>
        {% endfor %}
    </div>
    <div>
        {% for genre in genre_list %}
            <div class="genre">
                <a href="{{ my_test }}genre={{ genre.id }}">
                    {{ genre.name }}
                </a>
            </div>
        {% endfor %}
    </div>
    <div>
        <a href="{% url 'my_av:index' %}">reset</a>
    </div>
</div>