<div class="d-none">
    <label for="actress-{{ a.id }}">{{ a.name }}</label>
    <input id="actress-{{ a.id }}" type="checkbox" name="actress" value="{{ a.id }}" {{ checked }}>
</div>
<button type="submit"
        onclick="myFunc('actress-{{ a.id }}')"
        class="btn btn-outline-primary {{ active }}" style="width: 151px">
    <div id="actress-{{ actress.id }}-pic">
        {% load static %}
        {% static 'my_av/No_image_available.svg' as no_image %}
        <img src="{{ actress.art_url|default:no_image }}" class="rounded-circle" alt="no image"
             style="width: 125px;height: 125px">
    </div>
    <div id="actress-{{ actress.id }}-name" class="actress-name">
        {{ actress.name|default:'Ameture' }}
    </div>
</button>