<h4 class="w3-light-gray w3-container">Movies:</h4>
<div class="w3-row-padding">
    {% for video in video_list %}
        <div class="w3-col l3 m4 s6 w3-padding-16 my-button">
            <a href="{% url 'my_av:movie' video.id %}">
                <div class="w3-center">
                    <img src="{{ video.poster_url }}" alt="no image">
                </div>
                <div class="block-with-text">
                    {{ video.title }}
                </div>
            </a>
        </div>
    {% endfor %}
</div>