<div class="row justify-content-start align-items-start">
    {% for actress in actress_list %}
        <div id="actress-{{ actress.id }}" class="col ">
            <a href="{% url 'my_av:filter' actress_slug_ids=actress.id genre_slug_ids='-' %}">
                <div id="actress-{{ actress.id }}-pic">
                    {% load static %}
                    {% static 'my_av/No_image_available.svg' as test %}
                    <img src="{{ actress.art_url|default:test }}" class="actress-img" alt="no image">
                </div>
                <div id="actress-{{ actress.id }}-name">
                    {{ actress.name }}
                </div>
            </a>
        </div>
    {% endfor %}
</div>