<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-dark navbar-expand-sm bg-dark sticky-top justify-content-between">
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href={% url 'my_av:movies' %}>Movies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href={% url 'my_av:filter' actress_slug_ids='-' genre_slug_ids='-' %}>Filter(rest)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href={% url 'my_av:filter-soap' %}>Filter(soap)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'tools:index' %}">Tools</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'my_av:temp' %}">Temp</a>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href={% url 'my_av:logout' %}>Logout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href={% url 'admin:index' %}>Admin</a>
        </li>
    </ul>
</nav>