{% if movie.sample_url %}
    <video poster="{{ movie.fanart_url }}" id=cspd_video controls preload="auto" style="width: 100%">
        <source src="{{ movie.sample_url }}" type="video/mp4">
    </video>
{% else %}
    <img src="{{ movie.fanart_url }}" alt="" style="width: 100%">
{% endif %}

<script>
    let theVideo = document.getElementById("cspd_video");
    document.onkeydown = function (event) {
        let vid_currentTime = theVideo.currentTime;
        let changeTime;
        if (event.ctrlKey) {
            changeTime = 10;
        } else if (event.shiftKey) {
            changeTime = 30;
        } else {
            changeTime = 5;
        }
        switch (event.key) {
            case "ArrowLeft":
                theVideo.currentTime = vid_currentTime - changeTime;
                break;
            case "ArrowRight":
                theVideo.currentTime = vid_currentTime + changeTime;
                break;
            case " ":
                event.preventDefault();
                if (theVideo.paused)
                    theVideo.play();
                else
                    theVideo.pause();
                break;
        }
    };
</script>