<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment/>
<entry key="Preferences:renamerString">&lt;TITLE&gt; [&lt;ACTORS&gt;] (&lt;YEAR&gt;) [&lt;ID&gt;]</entry>
<entry key="Preferences:sanitizerForFilename">[\\/:*?"&lt;&gt;|\r\n]|[ ]+$|(?&lt;=[^.])[.]+$|(?&lt;=.{250})(.+)(?=[.]\p{Alnum}{3}$)</entry>
</properties>
