/*a {*/
/*    text-decoration: none;*/
/*}*/

.my-button:hover {
    background-color: #ccc;
}

.actress-img {
    height: 125px;
    width: 125px;
}

/* styles for '...' */
.block-with-text {
    /*solution for webkit browser*/
    width: 147px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.actress-name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}


/*!* create the ... *!*/
/*.block-with-text:before {*/
/*    !* points in the end *!*/
/*    content: '...';*/
/*    !* absolute position *!*/
/*    position: absolute;*/
/*    !* set position to right bottom corner of block *!*/
/*    right: 0;*/
/*    bottom: 0;*/
/*}*/

/*!* hide ... if we have text, which is less than or equal to max lines *!*/
/*.block-with-text:after {*/
/*    !* points in the end *!*/
/*    content: '';*/
/*    !* absolute position *!*/
/*    position: absolute;*/
/*    !* set position to right bottom corner of text *!*/
/*    right: 0;*/
/*    !* set width and height *!*/
/*    width: 1em;*/
/*    height: 1em;*/
/*    margin-top: 0.2em;*/
/*    !* bg color = bg color under block *!*/
/*    background: white;*/
/*}*/
